stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  IMAGE_TAG: "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"

build:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker build -t "$IMAGE_TAG" .
    - docker push "$IMAGE_TAG"
  only:
    - main
    - master

deploy:
  stage: deploy
  image: bitnami/kubectl:1.29
  needs:
    - build
  script:
    # Ожидается, что переменная KUBE_CONFIG содержит kubeconfig в base64
    - echo "$KUBE_CONFIG" | base64 -d > kubeconfig
    - export KUBECONFIG=$PWD/kubeconfig
    - kubectl config get-contexts
    # Обновляем образ в существующем Deployment
    - kubectl set image deployment/devops-test-repo web="$IMAGE_TAG" -n "${K8S_NAMESPACE:-default}"
  environment:
    name: production
  only:
    - main
    - master

